# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]

# Large raw dataset files (ignore heavy zip and raw images)
data/asl-alphabet.zip
data/asl_alphabet_train/
data/asl_alphabet_test/
data/asl_digits/
data/asl_digits_raw/

# OS / IDE
.DS_Store
.vscode/
.idea/
